*{
    margin: 0;
    padding: 0;
}
/* Nav section */
#navbar {
    display: flex;
    align-items: center;
    position: relative;
    /* arranges height(grey color wala)*/
}

#navbar ul {
    display: flex;
    list-style: none;
}

#navbar::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background:#546664;
    opacity: 0.8;
    z-index: -1;
    /* content(home,about bla bla) will show*/
    top: 0px;
    left: 0px;
}

#navbar ul li {
    /* color: ; */
    font-size: 1.3rem;
}

#navbar ul li a {
    display: block;
    /* by default display inline huncha so block, also for padding*/
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#navbar ul li a:hover {
    background: white;
    color: black;
}

body {
    background-color: #546664;
}

/* services section */
#services {
    margin-left: 30px;
    display: flex;
    width: 900px;
    height: 450px;
}

#services img {
    /* padding: 50px; */
    height: 160px;
    margin: 12px;
    display: block;

}
.box {
    padding-left: 120px;
    padding-right: 120px;
    border: 2px solid rgb(0, 0, 0);
    margin-top: 10px;
    margin-left: 24px; 
    border-radius: 2px;
    background: rgb(243, 237, 237);
    cursor: pointer;
    height: 400px;



}
#services2 {
    margin-left: 30px;
    display: flex;
    width: 900px;
    height: 450px;
}

#services2 img {
    /* padding: 50px; */
    height: 160px;
    margin: 12px;
    display: block;

}
.box1 {
    padding-left: 120px;
    padding-right: 120px;
    border: 2px solid rgb(0, 0, 0);
    margin-top: 10px;
    margin-left: 24px; 
    border-radius: 2px;
    background: rgb(243, 237, 237);
    cursor: pointer;
    height: 400px;



}



.box1:hover {
    color: rgb(255, 255, 255);
    background: rgb(79, 124, 27);
}
 
.class3 {
    /* margin-left: 30px;
    display: flex;
    width: 450px;
    height: 450px; */
    margin-left: 30px;
    display: flex;
    width: 900px;
    height: 450px;
}


.class3 img {
    /* padding: 50px; */
    height: 145px;
    margin: auto;
    display: block;
    /* width: 100px; */
}

.box3 {
    
    padding-left: 120px;
    padding-right: 120px;
    border: 2px solid rgb(0, 0, 0);
    margin-top: 10px;
    margin-left: 24px; 
    border-radius: 2px;
    background: rgb(243, 237, 237);
    cursor: pointer;
    height: 400px;

}

.box3:hover {
    color: rgb(255, 255, 255);
    background: rgb(16, 102, 40);
}
.class4 {
    /* margin-left: 30px;
    display: flex;
    width: 450px;
    height: 450px; */
    margin-left: 30px;
    display: flex;
    width: 100px;
    height: 450px;
}


.class4 img {
    /* padding: 50px; */
    height: 145px;
    margin: auto;
    display: block;
    /* width: 100px; */
}

.box4 {
    
    padding-left: 120px;
    padding-right: 120px;
    border: 2px solid rgb(0, 0, 0);
    margin-top: 10px;
    margin-left: 24px; 
    border-radius: 2px;
    background: rgb(243, 237, 237);
    cursor: pointer;
    height: 400px;

}

.box4:hover {
    color: rgb(255, 255, 255);
    background: rgb(56, 135, 78);
}
 
/* Footer */
.footer{
    margin-top: 70px;
    background-color:#343537;
    padding: 70px 0;     
}
.container{
    max-width: 1170px;
    /* background-color: red; */
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.column{
    width: 25%;
    padding: 0 15px;
}
.column h4{
    font-size: 18px;
    font-weight: 500;
    color: #ffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    position: relative;
  
}
ul{
    list-style: none;

}
.column h4::before{
    content:" ";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width:  50px;
}
.column ul li:not(:last-child)  {
    margin-bottom: 10px;
}

.column ul li a{

    font-size: 16px;
    text-transform: capitalize;
    color: #ffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all 0.3s ease;
}
.column ul li a:hover{
    color: #ffff;
    padding-left: 8px;
}
.social a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255,255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white ;
    transition: all 0.3s ease;
} 
.social a:hover{
    background:#213e86 ;
    color: #ffffff;
}
/* RESPONSIVE */
@media(max-width:767px){
    .column{
        width: 25%;
        margin-bottom: 30px; 

    }
}
@media(max-width:574px){
    .column{
        width: 100%;
        /* margin-bottom: 30px;  */
        
    }
    
}