h1{
    text-align: center;
    color: #88bdbc;
    
    
}

body{
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    
}
h1{
    text-align: center;
    background-color: rgb(53, 81, 80); 
    color: white;
    padding: 20px;
    max-height: fit-content;   
}
.nav {
    background-color: rgb(49, 88, 65);
    display:flex;
    justify-content:center;
    

}
.nav a{
    color: white;
    text-align: center;
    padding: 15px 21px;
    text-decoration: none;
}
.nav a:hover{
    background-color: rgb(8, 63, 34);
}
.flight{
    background-size: cover;
    /* background-image: url(istockphoto-155439315-612x612.jpg); */
    height: 700px;
    align-items: first baseline;
    color: white;
    display: flex;
    text-shadow: 3px 3px 5px black;
    justify-content: center;
}
.flight h1{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.content{
    text-align: center;
    padding: 30px;
}
.content h2{
    color: rgb(8, 16, 92);

}
.content img{
    height: auto;
    width: 100%;
}
footer{
    text-align: center;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    background-color: white;
    padding: 20px   ;
}