*{
    margin: 0;
    padding: 0;
}
#logo{
    margin: 3px 5px;
}
/* Nav section */
#navbar{
    display: flex;
    align-items: center;
    position: relative; /* arranges height(grey color wala)*/
}

#navbar ul{
    display: flex;
    list-style: none;
}
#navbar::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background:grey;
    opacity: 0.8;
    z-index: -1; /* content(home,about bla bla) will show*/
    top: 0px;
    left: 0px;
}
#navbar ul li{
    /* color: ; */
    font-size: 1.3rem;
}
#navbar ul li a{
    display: block; /* by default display inline huncha so block, also for padding*/
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}
#navbar ul li a:hover{
    background: white;
    color: black;
    
}
#home{ /*HOME SECTION */
    padding:3px 200px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 650px;   
}
#home::before{  
    content: "";
    position: absolute;
    background-image: url(bgi.webp);
    height:106%;
    width: 100%;
    top: 0px;
    left: 0px;
    
    opacity: 0.;
    z-index: -1; 
} 
body{
    font-family: sans-serif;
}

/* utility classes */
.heading{
    font-size: 3.9rem;
    padding: 10px;
    color: white;
    /* margin-bottom: 300px; */
  
}
 p{
    color: white;
    
}
.btn{
    border: 2px solid white;
    /* color: rgb(255, 255, 255); */
    font-size: 1.1rem;
    background-color: rgb(126, 228, 83);
    margin: 15px;
    border-radius: 8px;
    cursor: pointer;
}
.btn:hover{
   
    background: rgb(202, 233, 5);
}
.btn a{
    text-decoration: none;
}
.center{
    text-align: center;
}
/* Footer */
.footer{
    background-color:#24262b;
    padding: 70px 0;     
}
.container{
    max-width: 1170px;
    /* background-color: red; */
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.column{
    width: 25%;
    padding: 0 15px;
}
.column h4{
    font-size: 18px;
    font-weight: 500;
    color: #ffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    position: relative;
  
}
ul{
    list-style: none;

}
.column h4::before{
    content:" ";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width:  50px;
}
.column ul li:not(:last-child)  {
    margin-bottom: 10px;
}

.column ul li a{

    font-size: 16px;
    text-transform: capitalize;
    color: #ffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all 0.3s ease;
}
.column ul li a:hover{
    color: #ffff;
    padding-left: 8px;
}
.social a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255,255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white ;
    transition: all 0.3s ease;
} 
.social a:hover{
    background:#213e86 ;
    color: #ffffff;
}
/* RESPONSIVE */
@media(max-width:767px){
    .column{
        width: 25%;
        margin-bottom: 30px; 

    }
}
@media(max-width:574px){
    .column{
        width: 100%;
        /* margin-bottom: 30px;  */
        
    }
    
}